@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}
#purple{
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    transition: opacity ease 1s;
    
}
.circle {
    height: 0.1vw;
    width: 0.1vw;
    border-radius: 50%;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }
.main{
    background-color: #0F0D0D;
    cursor: none;
}
#nav{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index:102;
}
#nav img{
    height: 27px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#nav-part2 h4 a {
    text-decoration: none;
}
#nav-part2 h4:hover a{
    border-bottom: 2px solid white;
    transition: ease-in-out 0.4s ;
}


#nav #circle{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}
#nav h4{
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 1.5px solid #fff;
}

.page1 h1{
    font-size: 5vw;
    font-weight: 300;
    font-family: PP mori;

    margin-left: 6vw;
    transform-origin: left;
}
.page1{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 300;
    transform-origin: left;

    margin-left: 26vw;
}
.page1 h3{
    font-size: 2vw;
    font-weight: 300;
   line-height: 5vh;
    font-family: PP mori;
    text-align: center;
   
    
}
.page1 img {
    padding-top: 10vh;
}
.middlepart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5vw;
    font-family: PP mori;

}


.page2{
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
   
    position: relative;
    z-index: 9;
    
}

#bulb{
    height: 25vh;
    width: 10vw;
    position: absolute;
    z-index: 99999999999999999;
    right: 0;
   
   
}
#bulb #oneplus{
    height: 100%;
    width: 100%;
   position: absolute;
    object-position: center;
    object-fit: cover;
    opacity: 1;
    
   
 
}
#bulb #twoplus{
    height: 100%;
    width: 100%;
   position: absolute;
    object-position: center;
    object-fit: cover;
    opacity: 0;
   
}
.page2 h1{
    font-size:7vw;
    font-weight: 500;
    color: #111;

}
.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}
.page2-left{
    /* background-color: blue; */
    width: 40%;
}
.page2-right{
    /* background-color: blue; */
    width: 44%;
}
.page2-left h2{
    font-size: 3vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}
.page2-left li{
    
    color: #111;
    font-size: 3vw;
    
}
.page2-right li{
    font-size: 2.5vw;
    color: #000;
  
}
.redirect h2 i{
    font-size: large;
    color: #000;
    font-size: 2vw;
    
}
.redirect h2 a{
    font-size: large;
    color: #000;
    font-size: 2vw;
    
}
.redirect1 h2 i{
    font-size: large;
    color: #000;
    font-size: 2vw;
    
}
.redirect1 h3 li{
    font-size: large;
    color: #000;
    font-size: 2vw;
    line-height: 8vh;
    
}
.redirect1 h2 a{
    font-size: large;
    color: #000;
    font-size: 2vw;
    
}
.redirect1{
    position: absolute;
    margin-top: -30%;
    margin-left: 70%;
    color: #000;
}
.redirect2{
    margin-top: 20%;
    color: #fff;
    margin-left: 40%;
}
.redirect2 h2 i{
    font-size: large;
    color: #ffffff;
    font-size: 2vw;
    
}
.redirect2 h2 a{
    font-size: large;
    color: #ffffff;
    font-size: 2vw;
    
}
.redirect3{
    margin-top: 35%;
    margin-left: 75%;
}
.redirect3 h2 i{
    font-size: large;
    color: #000;
    font-size: 2vw;
    
}
.redirect3 h2 a{
    font-size: large;
    color: #000;
    font-size: 2vw;
    
}
.page3{
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    position: relative;
    z-index: 9;
}
#string0 {
    height: 100px;
    
    z-index: 12;
    position: relative;
  }
.page3 h1{
    margin-top: -10vh;
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 16%;
}
 .emu{
   height: 70vh;
   width: 60%;
   margin-left: 3%;
margin-top: 4%;

 

}

.page2-left meter{
    
width:80px;

}
.emu img{
    height: 100%;
    width: 100%;
   background-image: cover;
    object-fit: cover;

   
    
}

.page4{
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
}
#GOLA {
    height: 6vh;
    width: 3vw;
    border-radius: 50%;
    display: inline-block;
    background-color: #0bcf9e;
    
    margin: 1vw 2vw;
  }
  #goladiv {
    white-space: nowrap;
    justify-content: center;
    display: flex;
    height: 200px;
  }
  .page4 #goladiv h1 {
    font-size: 14vh;
    color: #c8c6c9;
    font-family: bigone;
    padding: 14vh 1vh;
    animation-name: movetext;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-top: -23vh;
  }
  .page4 #goladiv:hover h1 {
    font-size: 14vh;
    color: #32dada;
   

  }
  .page4 #goladiv:hover #GOLA {
     background-color: #ffffff;
  }
  @keyframes movetext {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    position: absolute;
    opacity: 0;
    transition: all ease-out 0.5s;
    transform: translateY(10%) rotate(2deg);
}
.elem img:nth-child(1){
    left: 2%;
}
.elem img:nth-child(3){
    right: 5%;
}
.text-div{
    height: 16vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
   
}
.elem h1{
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
   
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #0fbbff;
    
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);

}


.page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-left: 100px;
    padding-right: 100px;
}
.page5 h2{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 50px;
    margin-left: 32%;
}
.box{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}

.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;

}


#page6{
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to top,orange,white);
  
}
#page6 h1 {
    font-size: 4vw;
    color: #442f35;
    margin-top: 5vh;
    border-bottom: 1px solid rgb(209, 203, 203);
    
    
}
#page6 h5 {
    font-size: 2vw;
    color: #583C44;
    margin-top: 6vh;
    text-transform: capitalize;
    font-weight: 900;
}
#page6 .form {
    align-items: center;
    justify-content: center;
    
   
}
.container {
    height: 64vh;
    width: 100vh;
    margin: 1vh 2vw;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}




textarea {
    color: #583C44;
    height: 16vh;
    width: 30vw;
    font-size: 2vw;
    margin-left: -5vw;
    margin-top: 1vh;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
   
    border: none;
    z-index: 999;
   
}
textarea::placeholder {
    text-align: center;
    padding-top: 9%;
    color: #535151;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 999;
}

input{
    color: #583C44;
    width: 15vw;
    height: 9vh;
    border: none;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-left: 2vw;
    z-index: 999;
}
input::placeholder{
    color: #583C44;
    text-transform: capitalize;
    border-bottom: 1px solid grey;
    z-index: 999;
}
.form h1 {
    font-size: 0.5em;
    color: rgb(6, 52, 90);
   
    
}
.form #this {
    padding-left: 10%;
    border-bottom: 0.5px solid  rgb(6, 52, 90);
}

.form {
    position: absolute;
    
    margin-top: 0vh;
    min-height: 80vh;
    width: 80vh;
    display: inline-block;
   
    margin-left: 15%;
    border-radius: 20px;
   
    z-index: 999;

}

.form button {
    height: 8vh;
    width: 8vw;
    position: absolute;
    background-color: #583C44;
    border-radius: 1vw ;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-left: 70%;
    margin-top: -15%;
    z-index: 999;
    color:  rgb(6, 52, 90);
    font-size: 1.5vw;
    font-weight: 600;
}
.form button:hover {
   
    z-index: 999;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.671), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.imj{
    height: 40vh;
    width: 20vw;
    
    border-radius: 50%;
    margin-left: 0;
    position: absolute;
   margin-right: 7%;
    margin-top: 35vh;
    right: 0;
    
    

}
.imj img {
   height: 100%;
   width: 100%;
   background-image: cover;

}
.imk {

 height: 40vh;
    width: 25vw;
    
    border-radius: 50%;
    margin-right: 23%;
    position: absolute;
   bottom: 0;
   right: 0;
    margin-bottom: 14vh;

}
.imk img {
    height: 100%;
    width: 100%;
    background-image: cover;
 
 }
 .iml {
    height: 20vh;
    width: 10vw;
    
    border-radius: 50%;
    margin-right: 14%;
    position: absolute;
   margin-top: 27vh;
   right: 0;
  
   

}
.iml img {
   height: 100%;
   width: 100%;
   background-image: cover;


}
.imz{
    height: 40vh;
    width: 29vw;
    
    border-radius: 50%;
    
    position: absolute;
    margin-left: 55%;
    margin-top: 36vh;
   


}
.imz img {
   height: 100%;
   width: 100%;
   background-image: cover;

}
.imx {
    height: 60vh;
    width: 23vw;
    
    border-radius: 50%;
    margin-top: 20vh;
    position: absolute;
    margin-left: 76%;
    margin-top: 30vh;
    

}
.imx img {
   height: 100%;
   width: 100%;
   background-image: cover;

}
.jogfalls {
    height: 18vh;
    width: 95vw;
    margin: 2.7vh 2vw;
}
.mass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}